@page "/players"
@inject HttpClient Http

<h3>Lista graczy</h3>

@if (players == null)
{
    <p>Ładowanie...</p>
}
else
{
    <ul>
        @foreach (var player in players)
        {
            <li>@player.nickname (Drużyna: @player.team.name)</li>
        }
    </ul>
}

@code {
    // Możesz utworzyć lub wykorzystać klasy DTO z projektu Shared.
    // Na potrzeby przykładu użyjemy dynamicznego typu lub stwórz model odpowiadający strukturze API.
    List<dynamic>? players;

    protected override async Task OnInitializedAsync()
    {
        players = await Http.GetFromJsonAsync<List<dynamic>>("api/players");
    }
}
