@inherits LayoutComponentBase

<div class="page @(isDarkTheme ? "dark-theme" : "light-theme")">
    <div class="sidebar">
        <NavMenu />
    </div>

    <!-- Treść strony -->
    <main>
        @Body
    </main>
</div>

@code {
    // Domyślnie motyw ciemny
    private bool isDarkTheme = false;
}